<!DOCTYPE HTML>
<html>
  <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

   <!--  <style>
      #map{
        position: absolute; top:0; left:0; bottom:0; right:0; width:100%; 
      }
      #gender-form {
        position: absolute;
        z-index: 1;
        background-color: white;
      }
    </style> -->
  </head>
  
  <body>


    var obj = JSON.parse(matches)
    <h1> Your ginger is obj </h1>

   
    <div id="map" ></div>
    <script>     

        var newMarker = "";

        fetch("http://localhost:5000", {method: "post", body: ""})
        .then(function(res) { 
          res.json().then(function(json) {
            newMarker = json['Coordinates'];
          }) 
        });

        console.log(newMarker);



        var map = L.Wrld.map("map", "fca1f11a8b45fcca9f53fe023053ab95", {
        //center: [37.870253, -122.259539],
        zoom: 18
        });       

        //   var me = L.marker([37.872577, -122.261040], { title: "My Position" }).addTo(map);
        //   var meradius = L.circle([37.872577, -122.261040], {
        //     color: 'blue',
        //     fillColor: '#f03',
        //     fillOpacity: 0.2,
        //     radius: 50.0
        // }).addTo(map);  
        function getFirstLocation() {
           if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(setFirstPosition);
           }
        }
        function setFirstPosition(position) {
           var me = L.marker([position.coords.latitude, position.coords.longitude], { title: "My Position" }).addTo(map);
           map.setView([position.coords.latitude, position.coords.longitude]);

           var meradius = L.circle([position.coords.latitude, position.coords.longitude], {
                  color: 'blue',
                fillColor: '#f03',
                fillOpacity: 0.2,
                radius: 20
            }).addTo(map);  
             //var me = L.marker([position.coords.latitude, position.coords.longitude], { title: "My Position" }).addTo(map);
            //me.setLatLng([position.coords.latitude, position.coords.longitude]); 
           // meradius.setLatLng([position.coords.latitude, position.coords.longitude]);                                                                        
         }

      getFirstLocation();     

      //drop markers for bathrooms
      var strin = ""  
      var arraylength = coords.length;
      for (var i = 0; i < arrayLength; i++) {
          strin = strin+"_"
          var strin = L.marker(coords[i], {title: info[i]}).addTo(map);
      }

      var marker = L.marker([37.872577, -122.261040], { title: "My Moffit181" }).addTo(map);
      

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.watchPosition(showPosition);
        } else {
           map.innerHTML = "Geolocation is not supported by this browser.";
        }
    }
    function showPosition(position) {
       me.setLatLng([position.coords.latitude, position.coords.longitude]);
    }


    getLocation();
    </script> 
  </div>-->
  </body>
</html>

